*, *:after, *:before {
    box-sizing: border-box;
}
body, html {
    font-size: 100%;
    margin: 0;
    padding: 0;
}
/* Main styles */
body {
    color: #33cc33;
    background: #b3e6ff;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
    color: #f0f0f0;
    outline: none;
}
a:hover {
    color: #890000;
}
